// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    ...
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
    ...
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
    ...
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
    ...
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    ...
}

body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-size: 100%;
    text-align: center;
    background-color: #111074;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.container-fluid {
    max-width: 768px;
    margin: auto;
    padding: 20px;
}

.container-fluid img {
    width: 70%;
    height: 70%;
}

.container-fluid h1 {
    font-size: 26px;
    font-weight: bold;
}

.container-fluid p {
    font-size: 20px;
    font-weight: 400;
}

.footer {
    background-color: #050433;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}